#define RBY_NO_MIRROR_RANDOM_SIDE
    [multiplayer_side]
        id=RBY No Mirror Random
        name= _ "Random"
        image=units/random-dice.png
        {MAGENTA_IS_THE_TEAM_COLOR}
        type=Yeti
        leader=Yeti
        random_leader=Yeti
    [/multiplayer_side]
#enddef

[era]
    id=RBY_No_Mirror_Era
    name= _ "RBY No Mirror"
    require_era=no

    {RBY_NO_MIRROR_RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}

    {QUICK_4MP_LEADERS}
[/era]
