#define RBY_FLAG_VILLAGES_CRESCENT_LAKE
    [+side]
        [village]
        [/village]
    [/side]
#enddef

#define RBY_SETTINGS_CRESCENT_LAKE ID
    id={ID}
    name= _ "2p - Crescent Lake"
    description= _ "No one knows how this strangely shaped lake nor the structure built on it came to exist in the northlands, but all know the wealth that can be achieved by its conquest. Created by Velensk."
    map_data="{~add-ons/Rushed_By_Yetis/scenarios/maps/2p_Crescent_Lake.map}"

    {PLACE_IMAGE scenery/rock1.png 7 11}
    {PLACE_IMAGE scenery/monolith3.png 29 14}
    {PLACE_IMAGE scenery/monolith2.png 23 25}
    {PLACE_IMAGE scenery/monolith1.png 9 23}
    {PLACE_IMAGE scenery/monolith4.png 13 14}
#enddef
