#define RBY_FLAG_VILLAGES_THE_FREELANDS
    [+side]
        [village]
            x,y=26,22
        [/village]
    [/side]
#enddef

#define RBY_SETTINGS_THE_FREELANDS ID
    id={ID}
    name= _ "2p - The Freelands"
    description= _ "The Freelands, also known to the people of the far east as The Land of No Kings, lie in between the Wilderlands and the Kingdom of Carorath, separating a land of absolute law from a land of absolute savagery. The people of the Freelands have been battling would-be conquerors of their land for hundreds of years, repelling great beasts from their western borders, and Carorathian Imperialists from their eastern borders."
    map_data="{~add-ons/Rushed_By_Yetis/scenarios/maps/2p_The_Freelands.map}"
#enddef
